.body-main .form-input {
	width: 120px;
	height: 20px;
	display: inline-block;
}

.body-main .row {
	font-size: 11px;
}

.btn {
	background-color: rgb(106, 148, 174);
	color: white;
	font-weight: 700;
	margin: 0% 2% 0% 3%;
	font-size: 11px;
	width: 80px;
	position: relative;
}

.btn-group-one {
	margin: 5% 0% 0% 41%;
}

select {
  width: 0px;
  padding: 0px 0px 0px 8px;
}

option {
  padding: 0px 0px 0px 8px;
}

textarea {
  resize: none;
  width: 400px;
}