<div class="sidenav" style="height: 100%" (mouseenter)="sidenavFunction()" (mouseleave)="sidenavFunction()">
	<div class="sidenav-user-group">
		<img src="assets/images/sampleAccountPic.jpg" class="img-circle user-img" style="display: block">
		<label class="user-name">jmigbaldo</label>
	</div>
	<div class="sidenav-dropdowns">
		<button class="dropdown-btn">
			<img src="assets/images/sampleQuotations.png" class="sidenav-icons">
			Quotation
	   		<i class="fa fa-caret-down">
	   		</i>
	 	</button>
	 	<div class="dropdown-container">
		    <a routerLink="/quotation-processing" routerLinkActive="active">Quotation Processing</a>
		   <a routerLink="/quotation-inquiry" routerLinkActive="active">Quotation Inquiry</a>

	  	</div>
	  	<button class="dropdown-btn">
	  		<img src="assets/images/sampleUWriting.png" class="sidenav-icons">
	  		Underwriting
	   		<i class="fa fa-caret-down">
	   		</i>
	 	</button>
	 	<div class="dropdown-container">
		    <a href="#">Link 1</a>
		    <a href="#">Link 2</a>
		    <a href="#">Link 3</a>
	  	</div>
	  	<button class="dropdown-btn">
	  		<img src="assets/images/sampleAccounting.png" class="sidenav-icons">
	  		Accounting
	   		<i class="fa fa-caret-down">
	   		</i>
	 	</button>
	 	<div class="dropdown-container">
		    <a href="#">Link 1</a>
		    <a href="#">Link 2</a>
		    <a href="#">Link 3</a>
	  	</div>
	  	<button class="dropdown-btn">
	  		<img src="assets/images/sampleClaims.png" class="sidenav-icons">
	  		Claims
	   		<i class="fa fa-caret-down">
	   		</i>
	 	</button>
	 	<div class="dropdown-container">
		    <a href="#">Link 1</a>
		    <a href="#">Link 2</a>
		    <a href="#">Link 3</a>
	  	</div>
	  	<button class="dropdown-btn">
	  		<img src="assets/images/sampleSecurity.png" class="sidenav-icons">
	  		Security
	   		<i class="fa fa-caret-down">
	   		</i>
	 	</button>
	 	<div class="dropdown-container">
		    <a href="#">Link 1</a>
		    <a href="#">Link 2</a>
		    <a href="#">Link 3</a>
	  	</div>
	</div>
</div>